clematis:
  transactionId:
    httpHeader:
      Transaction-ID
    logKey:
      transactionId
  storage:
    download:
      folder: ${STORAGE_FILES_PATH}
    max-file-size: 200MB

management:
  endpoints:
    jmx:
      exposure:
        include: "health,info,env,beans"
    web:
      exposure:
        include: "health,info,env,beans"

spring:

  profiles:
    active: ${SPRING_PROFILES_ACTIVE}

  servlet:
    multipart:
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size: 215MB

  sql:
    init:
      mode: always
      continue-on-error: true

  datasource:
    hikari:
      maximum-pool-size: 25
      minimum-idle: 1
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: create-drop

  data:
    rest:
      basePath: /api

  jmx:
    enabled: true
    url: service:jmx:jmxmp://${JMXMP_HOST}:${JMXMP_PORT}/

logging:
  file:
    path:
      ${LOG_PATH}

springdoc:
  swagger-ui:
    display-request-duration: true
    groups-order: ASC
    operationsSorter: method
    disable-swagger-default-url: true
    use-root-path: true
    show-common-extensions: true
  show-actuator: true